<li class='card'>
  {{#each this}}
    <div class='card-top-info'>
      <img src='{{flags.svg}}' alt='' width='80px' />
      <h2 class='card-title'>{{name.official}}</h2>
    </div>
  {{/each}}
</li>